@main-width: 960px;
@main-bgcolor: #303030;
@main-color: #ffffff;
@main-display: flex;
@main-margin: 0 auto;
@main-text-decoration: none;
@main-ul-style: none;
@main-text: 14px Times;
@small-text: 10px Times #acacac;

.content {
    display: @main-display;
    width: 100%;
    background-color: #ffbeda;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    h1 {
        width:100%;
        text-align: center;
    }
    .content-wrapper {
        display: @main-display;
        width: @main-width;
        margin: @main-margin;   
        justify-content: space-between;
    }
}